env {
  job.name = "loadData"
  execution.parallelism = 2
  job.mode = "BATCH"
  checkpoint.interval = 10000
}

source {
  Jdbc {
      url = "jdbc:mysql://up01:3306/hive_data?useUnicode=true&characterEncoding=utf8&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from hive_data.dwm_mem_first_buy_i"
      partition_column = "zt_id"
      result_table_name = "table5"
  }
}

sink {
  
  Hive {
      source_table_name = "table5"
      table_name = "dwm.dwm_mem_first_buy_i"
      metastore_uri = "thrift://up01:9083"
  }
}