env {
  job.name = "hive2es"
  execution.parallelism = 2
  job.mode = "BATCH"
  checkpoint.interval = 10000
}

source {
  Hive {
      table_name = "ads.ads_mem_tags_i"
      metastore_uri = "thrift://up01:9083"
      read_partitions = ["dt="${pt}""]
  }
}

transform {
  FieldMapper {
      field_mapper = {
          user_id = user_id
          tags_id = tags_id_once
      }
  }
}

sink {
  Elasticsearch {
      hosts = ["up01:9200"]
      index = "user_profile_tags"
      primary_keys = ["user_id"]
      tls_verify_certificate = "false"
      tls_verify_hostname = "true"
      max_retry_count = 3
      max_batch_size = 1000
  }
}