env {
  job.name = "loadData"
  execution.parallelism = 5
  job.mode = "BATCH"
  checkpoint.interval = 10000
}

source {
  Jdbc {
      url = "jdbc:mysql://up01:3306/hive_data?useUnicode=true&characterEncoding=utf8&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from hive_data.dwm_sold_goods_sold_dtl_i"
      partition_column = "quarters"
      result_table_name = "table1"
  }
  Jdbc {
      url = "jdbc:mysql://up01:3306/hive_data?useUnicode=true&characterEncoding=utf8&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from hive_data.dwm_sell_o2o_order_i"
      partition_column = "quarters"
      result_table_name = "table2"
  }
  Jdbc {
      url = "jdbc:mysql://up01:3306/hive_data?useUnicode=true&characterEncoding=utf8&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from hive_data.dwd_mem_member_union_i"
      partition_column = "zt_id"
      result_table_name = "table3"
  }
  Jdbc {
      url = "jdbc:mysql://up01:3306/hive_data?useUnicode=true&characterEncoding=utf8&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from hive_data.dwm_mem_member_behavior_day_i"
      partition_column = "zt_id"
      result_table_name = "table4"
  }
  Jdbc {
      url = "jdbc:mysql://up01:3306/hive_data?useUnicode=true&characterEncoding=utf8&useSSL=false"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from hive_data.dwm_mem_first_buy_i"
      partition_column = "zt_id"
      result_table_name = "table5"
  }
}

sink {
  Hive {
      source_table_name = "table1"
      table_name = "dwm.dwm_sold_goods_sold_dtl_i"
      metastore_uri = "thrift://up01:9083"
  }
  Hive {
      source_table_name = "table2"
      table_name = "dwm.dwm_sell_o2o_order_i"
      metastore_uri = "thrift://up01:9083"
  }
  Hive {
      source_table_name = "table3"
      table_name = "dwd.dwd_mem_member_union_i"
      metastore_uri = "thrift://up01:9083"
  }
  Hive {
      source_table_name = "table4"
      table_name = "dwm.dwm_mem_member_behavior_day_i"
      metastore_uri = "thrift://up01:9083"
  }
  Hive {
      source_table_name = "table5"
      table_name = "dwm.dwm_mem_first_buy_i"
      metastore_uri = "thrift://up01:9083"
  }
}